*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: white;
    padding-right: 10px;
    text-decoration: none;
}

/* header */
header{
    background-color: orange;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-header{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gender{
    width: calc(100% / 3);
    display: flex;
    justify-content: flex-start;
}



.logo{
    width: calc(100% / 3);
    display: flex;
    justify-content: center;
}

.logo img{
    width: auto;
    height: 34px;
}

.icons{
    width: calc(100% / 3);
    display: flex;
    justify-content: flex-end;
}

.icons a{
    height: auto;
}

/* main */
.container{
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: brown;
}

.row{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px;
    padding: 0px 150px;
}

.square{
    height: 700px;
    width: calc(100% / 3);
    margin: 0px 25px;
    margin-top: 50px;
    position: relative;
}

.square1-main1{
    background-image: url(../img/1.webp);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
}

.square2-main1{
    background-image: url(../img/2.webp);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
}

.square3-main1{
    background-image: url(../img/3.webp);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
}

.square1-main2{
    background-image: url(../img/4.webp);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
}

.square2-main2{
    background-image: url(../img/5.webp);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
}

.square3-main2{
    background-image: url(../img/6.webp);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
}





/* footer */

footer{
    background-color: black;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-footer{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.credits .social{
    display: flex;
    flex-direction: column;
}

ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-top: 5px;
}

