*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: white;
    padding-right: 10px;
    text-decoration: none;
}

/* header */
header{
    background-color: orange;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-header{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gender{
    width: calc(100% / 3);
    display: flex;
    justify-content: flex-start;
}



.logo{
    width: calc(100% / 3);
    display: flex;
    justify-content: center;
}

.logo img{
    width: auto;
    height: 34px;
}

.icons{
    width: calc(100% / 3);
    display: flex;
    justify-content: flex-end;
}

.icons a{
    height: auto;
}

/* main */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* footer */

footer{
    background-color: black;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-footer{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.credits .social{
    display: flex;
    flex-direction: column;
}

ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-top: 5px;
}

