*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: white;
    padding-right: 10px;
    text-decoration: none;
}

/* header */
header{
    background-color: rgb(255, 115, 0);
    height: 75px;
    position: fixed;
    width: 100%;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-header{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gender{
    width: calc(100% / 3);
    display: flex;
    justify-content: flex-start;
}

.logo{
    width: calc(100% / 3);
    display: flex;
    justify-content: center;
}

.logo img{
    width: auto;
    height: 34px;
}

.icons{
    width: calc(100% / 3);
    display: flex;
    justify-content: flex-end;
}

.icons a{
    height: auto;
}

/* main */
.container{
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 25px 0px;
}

.row{
    width: 70%;
    display: flex;
    align-items: center;
    margin-bottom: 75px;
    margin-top: 25px;
}

.row-main-1{
    padding-top: 75px;
}

.square{
    width: calc(100% / 3);
    position: relative;
    padding: 0px 20px;
}

.models{
    position: relative;
    width: 100%;
}

.models img{
    width: 100%;
}

.models:hover .overlay{
    opacity: 1;
}

.overlay{
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0;
}

.infos{
    position: absolute;
    top: 100%;
}

span:last-child{
    color: red;
}

.delred{
    color: black;
}

.heart{
    position: absolute;
    top: 7%;
    right: 0%;
    background-color: white;
    width: 40px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heart:hover{
    color: red;
}

.discount{
    position: absolute;
    bottom: 7%;
    left: 0%;
    background-color: red;
    color: white;
    width: 50px;
    height: 25px;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ecology{
    position: absolute;
    bottom: 7%;
    left: 18%;
    background-color: green;
    color: white;
    width: auto;
    height: 25px;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square3-main2 .models .ecology{
    position: absolute;
    bottom: 7%;
    left: 0%;
    background-color: green;
    width: auto;
    height: 25px;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* footer */

footer{
    background-color: black;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-footer{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.credits .social{
    display: flex;
    flex-direction: column;
}

ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-top: 5px;
}

